<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>Upload Music</title>
</head>
<body>
<p><h1>Upload music</h1></p>
<form enctype="multipart/form-data" method="post">
Subpath: <input type="text" name="subpath" />
<br />
Files: <input type="file" name="file1" /><br />
<input type="file" name="file2" /><br />
<input type="file" name="file3" /><br />
<input type="file" name="file4" /><br />
<input type="file" name="file5" /><br />
<input type="file" name="file6" /><br />
<input type="file" name="file7" /><br />
<input type="file" name="file8" /><br />
<input type="file" name="file9" /><br />
<input type="file" name="file10" /><br />
<br />
<br />
<input type="submit" value="upload" />
</form>
{% if has_messages %}
  {% for message in messages %}
<div>{{message}}</div>
  {% end %}
{% end %}
</body>
