{
    "extends": "standard",
    "env": {
        "jquery": true
    },
    "rules": {
        "indent": [2, 4, {"SwitchCase": 1}],
        "no-undef": 0, // TODO: Set this to '2' once Javascript has been modularised.
        "no-unused-vars": 0, // TODO: Set this to '2' once Javascript has been modularised.
        "camelcase": 0,
        "no-multi-spaces": ["error", {"ignoreEOLComments": true}],
        "no-useless-escape": 0,
    }
}
