.DS_store
*.pyc
*.swp
.coverage
.idea
.noseids
.tox
MANIFEST
build/
cover/
.karma_coverage/
coverage.xml
dist/
docs/_build/
mopidy.log*
node_modules/
nosetests.xml
npm-debug.log
.project
*.pbxproj
*.egg-info
