include *.py
include *.rst
include .mailmap
include AUTHORS
include LICENSE
include MANIFEST.in
include pyproject.toml
include tox.ini

recursive-include .circleci *
recursive-include .github *

include mopidy_*/ext.conf

recursive-include tests *.py *.js
recursive-include tests/data *

include *.js
include .coveragerc
include .csslintrc
include .eslintrc
include package.json

recursive-include mopidy_musicbox_webclient/static *
