include .coveragerc
include .travis.yml
include AUTHORS
include LICENSE
include MANIFEST.in
include README.rst
include mopidy_musicbox_webclient/ext.conf

recursive-include mopidy_musicbox_webclient/static *
recursive-include tests *.py
