/*****
 * Mopidy Webclient CSS 
 * (c)
 */

/****************************
 *  Responsive stuff 
 ****************************/

@media all and (min-width: 50.1em){
    .pl-breakpoint.ui-grid-a .ui-block-a {
        width: 32.95%;
    }
    .pl-breakpoint.ui-grid-a .ui-block-b {
        width: 65.2%;
    }
    .pl-breakpoint.ui-grid-a .ui-block-a {
        clear: left;
    }
    .header-breakpoint.ui-grid-b .ui-block-a {
        width: 21.95%;
    }
    .header-breakpoint.ui-grid-b .ui-block-b {
        width: 37.92%;
        display: block;
    }
    .header-breakpoint.ui-grid-b .ui-block-c {
        width: 37.1%;
        display: block;
    }
    .pl-breakpoint.ui-grid-a .ui-block-a {
        clear: left;
    }
    .srch-breakpoint.ui-grid-a .ui-block-b {
        margin-left: 5px;
    }
    .srch-breakpoint.ui-grid-a .ui-block-a, .srch-breakpoint.ui-grid-a .ui-block-b {
        width: 49.5%;
    }
    #playlisttablediv {
        margin-left: 10px;
    }
    #header {
        height: 50px !important;
    }
}

@media all and (max-width: 50em) {
    .header-breakpoint.ui-grid-b .ui-block-a {
        width: 39.95%;
    }
    .header-breakpoint.ui-grid-b .ui-block-c {
        width: 59%;
    }
    .header-breakpoint.ui-grid-b .ui-block-b {
        display: none;
    }
    #header {
        height: 50px !important;
    }
}

@media all and (max-width: 35em) {
    .pl-breakpoint .ui-block-a, .pl-breakpoint .ui-block-b {
        width: 100%;
        float:inherit;
    }
    .header-breakpoint .ui-block-c, .header-breakpoint .ui-block-a {
        width: 100%;
    }
    .header-breakpoint .ui-block-b {
        display: none;
        width: 0;
    }
    #header {
        height: 75px !important;
    }
}
/************************
 *  Volume Slider 
 ***********************/
#mutebt {
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}

#volumeslider {
    display: inline;
}

/***********************
 *  Track Slider 
 ***********************/

#trackslider {
    display: inline;
}

#slidercontainer {
    margin-top: 10px;
    margin-bottom: 5px;
}

.ui-slider-track {
    margin-left: 38px;
    margin-right: 35px;
}

.ui-mobile .ui-page .ui-slider-input, .ui-mobile .ui-dialog .ui-slider-input {
    display: none !important;
}

#songelapsed, #songlength {
    font-size: 10px;
    margin-top: 12px;
}

/***********************************
 * Controls 
 * *********************************/
#controldiv {
    height: 30px;
    width: 230px;
    margin-left: -5px;
    display: inline;
}

#controldiv img {
    margin-left: 20px;
    float: left;
}

#playimg {
    margin-top: 12px;
}

#nextimg, #previmg {
    margin-top: 20px;
}

#backimg {
    margin-top: 16px;
}

#controlsimg {
    margin-top: 16px;
}

/* Song information */

#infoname {
    overflow: hidden;
    font: bold;
    color: #ddd;
    font-size: 14px;
    text-shadow: 1px 1px #555;
    /*    border: 1px solid white;  */
}

#songinfo {
    margin-top: 10px;
    height: 35px;
    overflow: hidden;
}

#infoartist {
    overflow: hidden;
    color: #aaa;
    font-size: 11px;
    text-shadow: 1px 1px #333;
    margin: 2px;
}

/* div */

.nobreak, .btsquare {
    display: inline !important;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.hidden, #allresultloader, .loader {
    display: none;
}

#searchresults {
    display: none;
}

.breakafter {
    margin-right: 15px;
}

#currentpane, #searchpane, #albumspane, #artistspane {
    display: none;
}

.currenttrack {
    background-image: url('../images/icons/play_alt_16x16.png');
    background-repeat: no-repeat;
    background-color: #fff;
    background-position: 4px center;
    padding-left: 10px;
}

#modalalbum a, #modalartist a {
    color: #444;
    text-decoration: none;
}

#infoartist a {
    color: #eee;
    text-decoration: none;
}

#popupTrackName, #popupAlbumName, .popupArtistName {
    font-style: oblique;
}

