/*
 *
 */

.menutext {
    vertical-align: bottom;
}

#trackslider {
    width: 90%;
}

#slidercontainer {
    margin-left: 2%;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
}

#mainmenu a {
    margin-right: 5px;
    display: inline;
}

.menutext a:hover {
    text-decoration: none;
    text-underline-position: 0;
}

#controlbt {
    margin-top: -2px;
    height: 30px;
    width: 140px;
}

#controlbt img {
    margin-left: 5px;
}


#back {
    margin-left: -20px;
    margin-right: 5px;
}

a.name, a.album, a.artist {
    display: block;
    height: 100%;
}

body {
    padding-top: 80px;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
    .btsquare {
        display: block;
    }
}

@media (min-width: 979px) {
    .btsquare {
        display: inline;
    }
}

.nobreak, .btsquare {
    display: inline;
}

#allresultloader, .loader {
    display: none;
}

#playlistslist li {
    padding: 5px;
    list-style-type: none;
}

#playlistslist li:nth-of-type(odd) {
    background-color: #444;
}

#playlistslist li:nth-of-type(even) {
    background-color: #333;
}

#volumecontainer {
    margin-top: 3px;
}

#searchresults {
    display: none;
}

.table tr:hover,
.table th:hover,
.table td:hover {
        background-color: #555 !important;
}

.table th,
.table td {
    padding: 8px;
}

.brand {
    margin-right: 20px;
}

.nav img  {
    padding-top: 16px;
}

.navbar, .navbar-inner, .container {
    padding: 0px;
    margin: 0px;
}

.breakafter {
    margin-right: 15px;
}

.content {
    display: none;
}

.currenttrack {
    font-weight: bold;
    background-image: url('../img/icons/play_alt_16x16.png');
    background-repeat: no-repeat;
    padding-left: 20px;
}

#infoname {
    overflow: hidden;
    font: bold;
    color: #ddd;
    font-size: 14px;
    text-shadow: 1px 1px #555;
    /*    border: 1px solid white;  */
}

#infoartist {
    overflow: hidden;
    color: #aaa;
    font-size: 11px;
    text-shadow: 1px 1px #333;
}

#playlistpane {
    visibility: hidden;
}
