/*****
 * Mopidy Webclient CSS
 * (c)
 */

/****************************
 *  Responsive stuff
 *  * iphone 3 20em
 *    landscape 30
 * iphone 4 40em
 *    landscape 60
 * ipad landsc 64
 *    portr 48
 ****************************/

@media all and (min-width: 40.1em) {
    /*header*/
    .header-breakpoint.ui-grid-b .ui-block-a {
        width: 30%;
    }
    .header-breakpoint.ui-grid-b .ui-block-b {
        width: 30%;
    }
    .header-breakpoint.ui-grid-b .ui-block-c {
        width: 30.1%;
    }
    /*playlists*/
    .pl-breakpoint.ui-grid-a .ui-block-a {
        width: 32.95%;
    }
    .pl-breakpoint.ui-grid-a .ui-block-b {
        width: 65.2%;
    }
    .pl-breakpoint.ui-grid-a .ui-block-a {
        clear: left;
    }
    .pl-breakpoint.ui-grid-a .ui-block-a {
        clear: left;
    }
    #playlisttracksdiv {
        margin-left: 10px;
    }
    /*search*/
    .srch-breakpoint.ui-grid-a .ui-block-b {
        margin-left: .5em;
    }
    .srch-breakpoint.ui-grid-a .ui-block-a, .srch-breakpoint.ui-grid-a .ui-block-b {
        width: 49%;
    }
    .scroll {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

/* tablet etc */
@media all and (min-width: 30.1em) and (max-width: 40em) {
    /*header*/
    .header-breakpoint.ui-grid-b .ui-block-a {
        width: 45.95%;
        clear: left;
    }
    .header-breakpoint.ui-grid-b .ui-block-b {
        display: none;
        width: 0;
    }
    .header-breakpoint.ui-grid-b .ui-block-c {
        width: 40%;
    }
    /*search*/
    .srch-breakpoint.ui-grid-a .ui-block-b {
        margin-left: .2em;
    }
    .srch-breakpoint.ui-grid-a .ui-block-a, .srch-breakpoint.ui-grid-a .ui-block-b {
        width: 49.5%;
    }
    .scroll {
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

/* phone */
@media all and (max-width: 30em) {
    /*header*/
    .header-breakpoint.ui-grid-b .ui-block-a {
        width: 35%;
        clear: left;
    }
    .header-breakpoint.ui-grid-b .ui-block-b {
        display: none;
    }
    .header-breakpoint.ui-grid-b .ui-block-c {
        width: 33%;
    }
    /*playlists*/
    .pl-breakpoint .ui-block-a, .pl-breakpoint .ui-block-b {
        width: 100%;
    }
    /*search*/
    .srch-breakpoint.ui-grid-a .ui-block-a, .srch-breakpoint.ui-grid-a .ui-block-b {
        width: 100%;
    }
    #playlistspane, .scroll {
        overflow-y: auto;
        overflow-x: auto;
        width: 100%;
        heigth: 100%;
    }
}

/* phone portrait */
@media all and (max-width: 20em) {
    .header-breakpoint.ui-grid-b .ui-block-c {
        display: none;
    }
    #playlistspane, .scroll {
        overflow-y: auto;
        overflow-x: auto;
        width: 100%;
        heigth: 100%;
    }
}

/***********
 * Header & controls
 */
#header {
    height: 50px !important;
}

#controldiv {
    height: 30px;
    width: 245px;
    margin-top: -3px;
    margin-left: -5px;
    display: inline;
}

#controldiv img {
    margin-left: 20px;
    float: left;
}

#playimg {
    margin-top: 12px;
}

#nextimg, #previmg {
    margin-top: 16px;
}

#backimg {
    margin-top: 16px;
}

#controlsimg {
    margin-top: 16px;
}

/**********************
 *  Song information
 **********************/

#infoname {
    overflow: hidden;
    font: bold;
    color: #ddd;
    font-size: 14px;
    text-shadow: 1px 1px #555;
}

#songinfo {
    margin-top: 10px;
    height: 35px;
}

#infoartist {
    overflow: hidden;
    color: #aaa;
    font-size: 11px;
    text-shadow: 1px 1px #333;
    margin: 2px;
}

#songinfo a {
    text-decoration: none;
}

#infoartist a {
    color: #eee;
}

#infocover {
    float: left;
    width: 36px;
    heigth: 36px;
    margin-right: 5px;
    margin-top: -3px;
}

/***********************
 *  Track Slider
 ***********************/

#trackslider {
    display: inline;
    width: 100%;
}

#slidercontainer {
    margin-top: 7px;
    margin-bottom: 5px;
    margin-right: 10px;
    float: right;
}

.ui-slider-track {
    margin-left: 38px;
    margin-right: 35px;
}

.ui-mobile .ui-page .ui-slider-input, .ui-mobile .ui-dialog .ui-slider-input {
    display: none !important;
}

#songelapsed, #songlength {
    font-size: 10px;
    margin-top: 12px;
}

/************************
 *  Volume Slider
 ***********************/
#mutebt {
    float: left;
    margin-left: 8px;
    margin-top: 8px;
}

#volumeslider {
    display: inline;
}

/***********
 * pages, content
 */

#searchresults {
    display: none;
}

#currentpane, #searchpane, #albumspane, #artistspane {
    display: none;
}

#playlistspane {
    padding: 4px;
}

#artistviewimage, #albumviewcover {
    float: right;
    heigth: 90px;
}

/*********************
 * listviews
 ********************/
.table li a {
    color: #555 !important;
    font-size: 80% !important;
    display: block;
    padding: 5px;
}

.table li {
    background-color: #f0f0f0;
    border: 1px solid #999;
    border-bottom: 0;
    padding: 0;
}

.table {
    padding: 0;
    list-style-type:none;
}

.table li:first-child {  
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.table li:last-child { 
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom: 1px solid #999;
}

.albumdivider h1, .table li h1 {
    font-size: 120% !important;
}

.albumdivider {
        background-color: #ddd !important;
}

.smalldivider {
    font-size: 25% !important;
    heigth: 5px !important;
    background-color: #ddd !important;
}

#playlistslist li a {
    padding: 5px;
}

#playlistslist, #playlisttracks {
    margin: 0 !important;
    padding: 0 !important;
/*    border: 1px solid blue; */
}

.albumli {
    padding-left: 5px;
}

.playlistactive {
    background-color: #ccc;
}

.artistcover {
    float: right;
    width: 30px;
    heigth: 30px;
    margin-right: 3px;
}

.currenttrack2 {
    background-image: url('../images/icons/play_alt_12x12.png');
    background-repeat: no-repeat;
    background-position: 4px center;
}
.currenttrack {
    background-image: url('../images/icons/play_alt_16x16.png');
    background-repeat: no-repeat;
    background-color: #eee;
    background-position: 6px center;
}

.currenttrack2 a {
    margin-left: 15px;
}
.currenttrack a {
    margin-left: 20px;
}

/*******************
 * Popups
 *******************/
#modalalbum a, #modalartist a {
    color: #444;
    text-decoration: none;
}

#popupArtistName, #popupTrackName, #popupAlbumName, .popupArtistName {
    font-style: oblique;
}

#controlsmodal, #artistpopup, #coverpopup {
    max-width: 500px;
    min-width: 300px;
}

#h_artistname {
    margin-bottom: 65px;
    margin-top: 10px;
}
#buttons, #controlspopupimage, #coverpopupimage, #artistpopupimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

/*dont hide clear buttons in text input */
.ui-input-clear-hidden {
    display:block !important;
}    
  

/***************
 *  common use
 ***************/
a {
    text-decoration: none !important;
}

.nobreak, .btsquare {
    display: inline !important;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.hidden, #allresultloader, .loader {
    display: none;
}

.breakafter {
    margin-right: 15px;
}

.pright {
    display: inline;
    margin-top: 4px;
    float: right;
}
